<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hybody - dashboard</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/frameworks/bootflat/css/bootflat.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-default" role="navigation" id="menu">
            <div class="container-fluid">
                <!-- Encabezado, logo y boton de colapso en caso de moviles -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <i class="fas fa-bars"></i>
                    </button>
                    <img id="logo" src="../../resources/media/img/Hybody.png">
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle text-default" data-toggle="dropdown">
                                    Menu
                                     <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-header">Acciones</li>
                                    <li v-for="(dato, index) in menu" :key="index">
                                        <a :href="dato.link">
                                            {{dato.nombre}}
                                        </a>
                                    </li>
                                    <li class="dropdown-header">Configuraciones</li>
                                    <li><a href="#!" @click="iniciar('modal-1')">Editar</a></li>
                                    <li><a href="#!" @click="iniciar('modal-2')">Seguridad</a></li>
                                    <li><a href="#!" @click="cerrarSesion()">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <!--Modales-->
            <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
                <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                        <header class="modal__header">
                            <h2 class="modal__title" id="modal-1-title">
                                Editar Perfil
                            </h2>
                        </header>
                        <main class="modal__content" id="modal-1-content">
                            <form class="row" @submit.prevent="setCliente">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group has-feedback" :class="Vnombre ? 'has-success' : 'has-error'">
                                        <label class="control-label" for="inputSuccess2">Nombre:</label>
                                        <input type="text" class="form-control" v-model="fm.nombre" required>
                                        <span class="glyphicon form-control-feedback"
                                            :class="Vnombre ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group has-feedback"
                                        :class="Vapellido ? 'has-success' : 'has-error'">
                                        <label class="control-label" for="inputSuccess2">Apellido:</label>
                                        <input type="text" class="form-control" v-model="fm.apellido" required>
                                        <span class="glyphicon form-control-feedback"
                                            :class="Vapellido ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group has-feedback" :class="Vcorreo ? 'has-success' : 'has-error'">
                                        <label class="control-label" for="inputSuccess2">Correo:</label>
                                        <input type="email" class="form-control" v-model="fm.correo" required>
                                        <span class="glyphicon form-control-feedback"
                                            :class="Vcorreo ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group has-feedback" :class="Vfecha ? 'has-success' : 'has-error'">
                                        <label class="control-label" for="inputSuccess2">Fecha Nacimiento:</label>
                                        <input type="date" class="form-control" v-model="fm.fecha" :max="valFecha"
                                            required>
                                        <span class="glyphicon form-control-feedback"
                                            :class="Vfecha ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label" for="inputSuccess2">Tipo</label>
                                        <input type="text" class="form-control" readonly v-model="fm.tipo" required>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group has-feedback" :class="Valias ? 'has-success' : 'has-error'">
                                        <label class="control-label" for="inputSuccess2">Alias:</label>
                                        <input type="text" class="form-control" v-model="fm.alias" required>
                                        <span class="glyphicon form-control-feedback"
                                            :class="Valias ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <button class="btn" :class="btn ? 'btn-primary' : 'btn-success'"
                                        v-if="Abtn == true">
                                        Guardar
                                    </button>
                                </div>
                                <div class="col-xs-12">
                                    <div class="alert" :class="color ? 'alert-success' : 'alert-danger'"
                                        v-if="alert==true">
                                        <button class="btn-link text-danger" @click="alert = false">×</button>
                                        {{error}}
                                    </div>
                                </div>
                            </form>
                        </main>
                        <footer class="modal__footer">
                            <button class="btn btn-default" data-micromodal-close
                                aria-label="Close this dialog window">Cerrar</button>
                        </footer>
                    </div>
                </div>

            </div>
            <!--Modales-->
            <div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
                <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
                        <header class="modal__header">
                            <h2 class="modal__title" id="modal-2-title">
                                Editar Perfil
                            </h2>
                        </header>
                        <main class="modal__content" id="modal-2-content">
                            <form class="row" @submit.prevent="setPassword">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group has-feedback" :class="Vcontra ? 'has-success' : 'has-error'">
                                        <label class="control-label" for="inputSuccess2">Contraseña:</label>
                                        <input type="password" class="form-control" v-model="fm.contra" required>
                                        <span class="glyphicon form-control-feedback"
                                            :class="Vcontra ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group has-feedback"
                                        :class="Vrepetir ? 'has-success' : 'has-error'">
                                        <label class="control-label" for="inputSuccess2">Repetir Contraseña:</label>
                                        <input type="password" class="form-control" v-model="fm.repetir" required>
                                        <span class="glyphicon form-control-feedback"
                                            :class="Vrepetir ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <button class="btn" :class="btn ? 'btn-primary' : 'btn-success'"
                                        v-if="Abtn == true">
                                        Guardar
                                    </button>
                                </div>
                                <div class="col-xs-12">
                                    <div class="alert" :class="color ? 'alert-success' : 'alert-danger'"
                                        v-if="alert==true">
                                        <button class="btn-link text-danger" @click="alert = false">×</button>
                                        {{error}}
                                    </div>
                                </div>
                            </form>
                        </main>
                        <footer class="modal__footer">
                            <button class="btn btn-default" data-micromodal-close
                                aria-label="Close this dialog window">Cerrar</button>
                        </footer>
                    </div>
                </div>

            </div>
        </nav>
        <!--Contenedor-->
        <div class="container" id="app">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                        <h2>
                            Bienvenido al Dashboard de Hybody
                        </h2>
                    </div>
                </div>
            </div>
        </div>




        <!--micromodal-->
        <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
        <!--Jquery-->
        <script src="../../resources/frameworks/jquery.min.js"></script>
        <!--Boostrap-->
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <!--Bootflat-->
        <script src="../../resources/frameworks/bootflat/js/icheck.min.js"></script>
        <script src="../../resources/frameworks/bootflat/js/jquery.fs.selecter.min.js"></script>
        <script src="../../resources/frameworks/bootflat/js/jquery.fs.stepper.min.js"></script>
        <!--Axios-->
        <script src="../../resources/frameworks/axios.js"></script>
        <!--Vue-->
        <script src="../../resources/frameworks/vue.js"></script>
        <script src="../../resources/frameworks/vuex.js"></script>
        <script src="../../resources/js/dashboard/menu.js"></script>
        <script src="../../resources/js/dashboard/dashboard.js"></script>

</body>

</html>