.bg-orange {
  background-color: #FC6E51;
  color: #fff;
}

.panel .bg-orange {
  background-color: #FC6E51;
  color: #fff;
}

#app {
  margin-bottom: 100px;
}

#logo {
  width: 60px;
  height: 60px;
}

/*# sourceMappingURL=main.css.map */
