<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hybody - dashboard</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/frameworks/bootflat/css/bootflat.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/main.css">
</head>

<body>
    <nav class="navbar bg-orange" role="navigation" id="menu">
        <div class="container-fluid">
            <!-- Encabezado, logo y boton de colapso en caso de moviles -->
            <div class="navbar-header">
                <a class="navbar-brand text-success" href="index.html">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <!--Contenedor-->
    <div class="container" id="app">
        <div class="row">
            <!--Cols 3 sirven para centrar el login-->
            <div class="col-xs-12 col-md-4">
            </div>
            <div class="col-xs-12 col-md-4">
                <form class="row" @submit.prevent="login">
                    <div class="col-xs-12">
                        <div class="form-group has-feedback" :class="Valias ? 'has-success' : 'has-error'">
                            <label class="control-label" for="inputSuccess2">Alias:</label>
                            <input type="text" class="form-control" v-model="fm.alias">
                            <span class="glyphicon form-control-feedback"
                                :class="Valias ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group has-feedback" :class="Vcontra ? 'has-success' : 'has-error'">
                            <label class="control-label" for="inputSuccess2">Contraseña:</label>
                            <input type="password" class="form-control" v-model="fm.contra">
                            <span class="glyphicon form-control-feedback"
                                :class="Vcontra ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="#!" class="btn btn-link" @click="olvide = !olvide">
                            olvidaste tú contraseña?
                        </a>
                    </div>
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-primary" v-if="Abtn == true">
                            Iniciar Sesión
                        </button>
                    </div>
                    <div class="col-xs-12">
                        <div class="alert" :class="color ? 'alert-success' : 'alert-danger'" v-if="alert==true">
                            <button class="btn-link text-danger" @click="alert = false">×</button>
                            {{error}}
                        </div>
                    </div>
                </form>
                <form class="row" v-if="olvide == true" @submit.prevent="olvidePassword">
                    <div class="col-xs-12">
                        <div class="form-group has-feedback" :class="Vcorreo ? 'has-success' : 'has-error'">
                            <label class="control-label" for="inputSuccess2">Correo</label>
                            <input type="email" class="form-control" v-model="fm.correo">
                            <span class="glyphicon form-control-feedback"
                                :class="Vcorreo ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-success" v-if="Bbtn == true">
                            Mandar Correo
                        </button>
                    </div>
                    <div class="col-xs-12">
                        <div class="alert" :class="color ? 'alert-success' : 'alert-danger'" v-if="alert2==true">
                            <button class="btn-link text-danger" @click="alert2 = false">×</button>
                            {{error}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-6" id="reg1">
                <div class="panel panel-default">
                    <div class="panel-heading bg-orange">Registrarse (Particular)</div>
                    <form class="row" @submit.prevent="setCliente">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vnombre ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Nombre:</label>
                                <input type="text" class="form-control" v-model="fm.nombre" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vnombre ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vapellido ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Apellido:</label>
                                <input type="text" class="form-control" v-model="fm.apellido" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vapellido ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vcorreo ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Correo:</label>
                                <input type="email" class="form-control" v-model="fm.correo" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vcorreo ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vcontra ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Contraseña:</label>
                                <input type="password" class="form-control" v-model="fm.contra" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vcontra ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vrepetir ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Repetir Contraseña:</label>
                                <input type="password" class="form-control" v-model="fm.repetir" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vrepetir ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vfecha ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Fecha Nacimiento:</label>
                                <input type="date" class="form-control" v-model="fm.fecha" :max="valFecha" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vfecha ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Valias ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Alias</label>
                                <input type="text" class="form-control" v-model="fm.alias" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Valias ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn" :class="btn ? 'btn-primary' : 'btn-success'" v-if="Abtn == true">
                                {{ btn ? 'Crear' : 'Guardar' }}
                            </button>
                        </div>
                        <div class="col-xs-12">
                            <div class="alert" :class="color ? 'alert-success' : 'alert-danger'" v-if="alert==true">
                                <button class="btn-link text-danger" @click="alert = false">×</button>
                                {{error}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xs-12 col-md-6" id="reg2">
                <div class="panel panel-default">
                    <div class="panel-heading bg-orange">Registrarse (Vendedor)</div>
                    <form class="row" @submit.prevent="setCliente">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vnombre ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Nombre:</label>
                                <input type="text" class="form-control" v-model="fm.nombre" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vnombre ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vapellido ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Apellido:</label>
                                <input type="text" class="form-control" v-model="fm.apellido" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vapellido ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vcorreo ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Correo:</label>
                                <input type="email" class="form-control" v-model="fm.correo" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vcorreo ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vcontra ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Contraseña:</label>
                                <input type="password" class="form-control" v-model="fm.contra" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vcontra ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vrepetir ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Repetir Contraseña:</label>
                                <input type="password" class="form-control" v-model="fm.repetir" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vrepetir ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Vfecha ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Fecha Nacimiento:</label>
                                <input type="date" class="form-control" v-model="fm.fecha" :max="valFecha" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Vfecha ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" :class="Valias ? 'has-success' : 'has-error'">
                                <label class="control-label" for="inputSuccess2">Alias</label>
                                <input type="text" class="form-control" v-model="fm.alias" required>
                                <span class="glyphicon form-control-feedback"
                                    :class="Valias ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn" :class="btn ? 'btn-primary' : 'btn-success'" v-if="Abtn == true">
                                {{ btn ? 'Crear' : 'Guardar' }}
                            </button>
                        </div>
                        <div class="col-xs-12">
                            <div class="alert" :class="color ? 'alert-success' : 'alert-danger'" v-if="alert==true">
                                <button class="btn-link text-danger" @click="alert = false">×</button>
                                {{error}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="container">
            <div class="clearfix">
                <div class="footer-logo"><a href="#"><img src="../../resources/media/img/Hybody.png">Hybody</a></div>
                <dl class="footer-nav">
                    <dt class="nav-title">Menu</dt>
                    <dd class="nav-item"><a href="index.html">Inicio</a></dd>
                    <dd class="nav-item"><a href="#!">Perfil</a></dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">Redes Sociales</dt>
                    <dd class="nav-item"><a href="www.facebook.com">Facebook</a></dd>
                    <dd class="nav-item"><a href="www.twitter.com">Twitter</a></dd>
                    <dd class="nav-item"><a href="www.instagram">Instagram</a></dd>
                </dl>
            </div>
            <div class="footer-copyright text-center">Copyright © 2017 Hybody</div>
        </div>
    </div>

    <!--ReCatchap-->
    <script src="https://www.google.com/recaptcha/api.js?render=6LcbrrQUAAAAALtcPkA92VqK2bVa98loPms2s2BI&hl=es">
    </script>

    <!--Jquery-->
    <script src="../../resources/frameworks/jquery.min.js"></script>
    <!--Boostrap-->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--Bootflat-->
    <script src="../../resources/frameworks/bootflat/js/icheck.min.js"></script>
    <script src="../../resources/frameworks/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="../../resources/frameworks/bootflat/js/jquery.fs.stepper.min.js"></script>
    <!--Axios-->
    <script src="../../resources/frameworks/axios.js"></script>
    <!--Vue-->
    <script src="../../resources/frameworks/vue.js"></script>
    <script src="../../resources/frameworks/vuex.js"></script>
    <script src="../../resources/js/public/login.js"></script>
    <script src="../../resources/js/public/registrarse.js"></script>
</body>

</html>