<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/frameworks/bootflat/css/bootflat.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/main.css">
</head>

<body>
    <div id="menu">
        <nav class="navbar bg-orange" role="navigation">
            <div class="container-fluid">
                <!-- Encabezado, logo y boton de colapso en caso de moviles -->
                <div class="navbar-header">
                    <a class="navbar-brand text-success" href="index.html" title="Volver Atras">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <div class="navbar navbar-right">
                        <a class="navbar-brand text-success" @click="cerrarSesion" title="Cerrar Sesión">
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <!--Contenedor-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel">
                        <ul id="myTab1" class="nav nav-tabs nav-justified">
                            <li class="" v-for="(dato,index) in menu" :key="index">
                                <a :href="'#'+dato.nombre" data-toggle="tab"> {{dato.nombre}} </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" id="myTabDrop1-1" class="dropdown-toggle" data-toggle="dropdown">Cuenta <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                    <li><a href="#dropdown1-1" tabindex="-1" data-toggle="tab">Perfil</a></li>
                                    <li><a href="#dropdown1-2" tabindex="-1" data-toggle="tab">Seguridad</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade"  v-for="(dato,index) in menu" :key="index" :id="dato.nombre">
                                {{dato.nombre}}
                            </div>
                            <div class="tab-pane fade" id="dropdown1-1">
                                <!--Perfil actualizar perfil-->
                                <form class="row" @submit.prevent="setCliente">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group has-feedback"
                                            :class="Vnombre ? 'has-success' : 'has-error'">
                                            <label class="control-label" for="inputSuccess2">Nombre:</label>
                                            <input type="text" class="form-control" v-model="fm.nombre" required>
                                            <span class="glyphicon form-control-feedback"
                                                :class="Vnombre ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group has-feedback"
                                            :class="Vapellido ? 'has-success' : 'has-error'">
                                            <label class="control-label" for="inputSuccess2">Apellido:</label>
                                            <input type="text" class="form-control" v-model="fm.apellido" required>
                                            <span class="glyphicon form-control-feedback"
                                                :class="Vapellido ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group has-feedback"
                                            :class="Vcorreo ? 'has-success' : 'has-error'">
                                            <label class="control-label" for="inputSuccess2">Correo:</label>
                                            <input type="email" class="form-control" v-model="fm.correo" required>
                                            <span class="glyphicon form-control-feedback"
                                                :class="Vcorreo ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group has-feedback"
                                            :class="Vfecha ? 'has-success' : 'has-error'">
                                            <label class="control-label" for="inputSuccess2">Fecha Nacimiento:</label>
                                            <input type="date" class="form-control" v-model="fm.fecha" :max="valFecha"
                                                required>
                                            <span class="glyphicon form-control-feedback"
                                                :class="Vfecha ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label" for="inputSuccess2">Tipo</label>
                                            <input type="text" class="form-control" readonly v-model="fm.tipo" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group has-feedback"
                                            :class="Valias ? 'has-success' : 'has-error'">
                                            <label class="control-label" for="inputSuccess2">Alias:</label>
                                            <input type="text" class="form-control" v-model="fm.alias" required>
                                            <span class="glyphicon form-control-feedback"
                                                :class="Valias ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <button class="btn" :class="btn ? 'btn-primary' : 'btn-success'"
                                            v-if="Abtn == true">
                                            Guardar
                                        </button>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="alert" :class="color ? 'alert-success' : 'alert-danger'"
                                            v-if="alert==true">
                                            <button class="btn-link text-danger" @click="alert = false">×</button>
                                            {{error}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="dropdown1-2">
                                <form class="row" @submit.prevent="setPassword">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group has-feedback"
                                            :class="Vcontra ? 'has-success' : 'has-error'">
                                            <label class="control-label" for="inputSuccess2">Contraseña:</label>
                                            <input type="password" class="form-control" v-model="fm.contra" required>
                                            <span class="glyphicon form-control-feedback"
                                                :class="Vcontra ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group has-feedback"
                                            :class="Vrepetir ? 'has-success' : 'has-error'">
                                            <label class="control-label" for="inputSuccess2">Repetir Contraseña:</label>
                                            <input type="password" class="form-control" v-model="fm.repetir" required>
                                            <span class="glyphicon form-control-feedback"
                                                :class="Vrepetir ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <button class="btn" :class="btn ? 'btn-primary' : 'btn-success'"
                                            v-if="Abtn == true">
                                            Guardar
                                        </button>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="alert" :class="color ? 'alert-success' : 'alert-danger'"
                                            v-if="alert==true">
                                            <button class="btn-link text-danger" @click="alert = false">×</button>
                                            {{error}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--micromodal-->
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <!--Jquery-->
    <script src="../../resources/frameworks/jquery.min.js"></script>
    <!--Boostrap-->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--Bootflat-->
    <script src="../../resources/frameworks/bootflat/js/icheck.min.js"></script>
    <script src="../../resources/frameworks/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="../../resources/frameworks/bootflat/js/jquery.fs.stepper.min.js"></script>
    <!--Axios-->
    <script src="../../resources/frameworks/axios.js"></script>
    <!--Vue-->
    <script src="../../resources/frameworks/vue.js"></script>
    <script src="../../resources/frameworks/vuex.js"></script>
    <script src="../../resources/js/public/menu.js"></script>

</body>

</html>