$color: #FC6E51;

@mixin mover {
    
}

.bg-orange{
    background-color: $color;
    color: #fff;
}
.panel .bg-orange{
    background-color: $color;
    color: #fff;
}
#app{
    margin-bottom: 100px;
}
#logo{
    width: 60px;
    height: 60px;
}